# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  home = ENV['HOME']
  virtual_box_path = "#{home}/VirtualBox VMs"
  (1..{{ count }}).each do |machine_id|
    hostname = "vm#{ {{ last_host }}+machine_id }"
    config.vm.define "#{hostname}" do |machine|
      machine.vm.hostname = "#{hostname}"
      machine.vm.box = "centos/7"
      machine.vm.network "private_network", ip: "{{ subnet }}.#{ {{ last_host }}+machine_id }"
      machine.vm.provider "virtualbox" do |vb|
        vb.name = "#{hostname}"
      end
      # run ansible playbook on all machines when all of them are ready
      if machine_id == {{ count }}
        machine.vm.provision :ansible do |ansible|
          ansible.limit = "all"
          ansible.playbook = "setup_base.yml"
        end
      end
    end
  end
end
